body,html {
	margin: 0px;
	padding: 0px;
	color: black;
	background: White;
}

#wrap {
	margin: 0 auto;
	background: White;
	border: 2px solid Black;
}

#title {
	font-size: 75px;
	background-color: Black;
	padding: 25px;
	color: White;
}

#drexel_logo {
	float: right;
	height: 125px;
	position: relative;
	top: -20px;
	right: -10px;
}

#menu {
	background: Gray;
	float: left;
	font-size: 20px;
	font-weight: bold;
}

#menu_list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.menu_item {
	padding: 20px;
	text-decoration: none;
	border-bottom: 1px solid black;
}

.menu_link {
	color: black;
	text-decoration: none;
}

#page_content {
	background: White;
	float: left;
	min-height: 500px;
	padding: 15px 20px;
	border-left: 2px solid black;
	min-width: 1000px;
}

#page_title {
	margin-top: 0px;
	font-size: 40px;
	margin-bottom: 20px;
	font-weight: normal;
}

#footer {
	clear: both;
	background: Black;
}

table {
	text-align: center;
	border: 2px solid black;
}

thead {
	font-weight: bold;
	background-color: #DDDDDD;
	font-size: 18px;
}

td {
	padding: 5px 10px;
	border: 1px solid black;
}

.DISCONNECTED {
	background-color: #FFD966;
}

.CONNECTED {
	background-color: #9DC3E6;
}

.COLLECTING {
	background-color: green;
}

.ERROR {
	background-color: red;
}

#node_management_content {
	margin-left: 20px;
}

#chart_area {
	height: 500px;
}
